title: DIAMOND
baseurl: http://localhost/
canonifyURLs: false
disableAliases: false
disableHugoGeneratorInject: true
enableEmoji: true
enableGitInfo: false
enableRobotsTXT: true
languageCode: fr-FR
pagination:
  pagerSize: 3
rssLimit: 10
summarylength: 150
defaultContentLanguage: fr
defaultContentLanguageInSubdir: false
copyRight: DIAMOND - PEPR DIADEM
build:
  buildStats:
    enable: true
outputs:
  home:
    - HTML
    - RSS
    - searchIndex
  section:
    - HTML
    - RSS
    - SITEMAP
outputFormats:
  searchIndex:
    mediaType: application/json
    baseName: search-index
    isPlainText: true
    notAlternative: true
  SITEMAP:
    mediaType: application/xml
    baseName: sitemap
    isHTML: false
    isPlainText: false
    noUgly: true
    rel: sitemap
sitemap:
  changefreq: weekly
  filename: sitemap.xml
  priority: 0.5
caches:
  getjson:
    dir: :cacheDir/:project
    maxAge: -1
taxonomies:
  contributor: contributors
  category: categories
  tag: tags
permalinks: {}
minify:
  tdewolff:
    html:
      keepWhitespace: false
related:
  threshold: 80
  includeNewer: true
  toLower: false
  indices:
    - name: categories
      weight: 100
    - name: tags
      weight: 80
    - name: date
      weight: 10
imaging:
  anchor: Center
  bgColor: "#ffffff"
  hint: photo
  quality: 85
  resampleFilter: Lanczos
# services:
#   googleAnalytics:
#     ID: 'G-1G3K8JZG98'
