defaultMarkdownHandler: goldmark
goldmark:
  extensions:
    linkify: false
    passthrough:
      delimiters:
        block:
          - - \[
            - \]
          - - $$
            - $$
        inline:
          - - \(
            - \)
          - - $
            - $
      enable: true
  parser:
    autoHeadingID: true
    autoHeadingIDType: github
    attribute:
      block: true
      title: true
  renderer:
    unsafe: true

highlight:
  anchorLineNos: false
  codeFences: true
  guessSyntax: false
  hl_Lines: ""
  hl_inline: false
  lineAnchors: ""
  lineNoStart: 1
  lineNos: false
  lineNumbersInTable: false
  noClasses: false
  noHl: false
  style: ""
  tabWidth: 2
tableOfContents:
  endLevel: 4
  ordered: false
  startLevel: 2
