{{- /*
  The team listing: a card per member, narrowed by the filters when
  JavaScript is available.
*/ -}}
{{ define "main" }}
  {{ if partial "main/is-feature-enabled.html" "team" }}
    {{ $people := partial "team/ordered-people.html" . }}
    <main class="diamond-content">
      <div class="col-default-page team-page">
        {{ partial "main/page-header.html" . }}
        {{ partial "team/filters.html" (partial "team/filter-options.html" $people) }}
        <ul class="home-grid home-grid--table team-grid" role="list">
          {{- range $people }}
          {{ partial "team/card.html" . }}
          {{- end }}
        </ul>
      </div>
    </main>
  {{ end }}
{{ end }}
