{{ if eq $.Site.Language.LanguageName "FR" }}
<div class="cookie-banner" style="display: none;">
  <div class="cookie-banner-content">
    <p>
      <strong style="font-size: larger;">Politique de consentement aux cookies</strong><br>
      Ce site utilise des cookies pour mesurer l’audience (Google Analytics) et pour lire des vidéos intégrées (YouTube).<br>
      Les vidéos sont affichées via <em>youtube-nocookie.com</em> (mode de confidentialité renforcée), mais YouTube peut encore déposer certains cookies lors de leur lecture.<br>
      <strong>Remarque :</strong> si vous refusez, les tutoriels vidéo seront bloqués. Vous pourrez toutefois modifier votre choix au moment de visionner une vidéo.<br>
      Consultez la <a href="https://policies.google.com/privacy" target="_blank">politique de confidentialité de Google</a> pour plus d'information.
    </p>
      <div class="cookie-banner-actions">
        <button class="accept-all">Tout accepter</button>
        <button class="customize">Personnaliser</button>
        <button class="decline-all">Tout refuser</button>
        </div>
    </div>
  <button class="close-banner" aria-label="Fermer">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
  </button>
</div>
{{ end }}
{{ if eq $.Site.Language.LanguageName "EN" }}
<div class="cookie-banner" style="display: none;">
  <div class="cookie-banner-content">
    <p>
      <strong style="font-size: larger;">Cookies consent policy</strong><br>  
      This site uses cookies to measure audience (Google Analytics) and to display embedded videos (YouTube).<br>
      Videos are displayed via <em>youtube-nocookie.com</em> (enhanced privacy mode), but YouTube may still set certain cookies when the videos are played.<br>
      <strong>Note:</strong> if you refuse, tutorial videos will be blocked. However, you will be able to change your choice later when attempting to watch a video.<br>
      Please refer to Google's <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> for more information.
      </p>
        <div class="cookie-banner-actions">
            <button class="accept-all">Accept all</button>
            <button class="customize">Customize</button>
            <button class="decline-all">Decline all</button>      
      </div>
  </div>
  <button class="close-banner" aria-label="Close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
  </button>
</div>
{{ end }}
