<div class="popup-overlay">
  <div class="popup-dialog">
      <p>
          <strong>Ce site n'utilise aucun cookie à des fins de suivi ou d'analyse.</strong><br>
          Toutefois, en visionnant les vidéos intégrées (tutoriels YouTube), des cookies tiers peuvent être déposés par YouTube. Nous avons réduit leur nombre en utilisant <em>youtube-nocookie.com</em>, mais certains cookies peuvent encore être utilisés, notamment :<br>
          - <strong>Cookies de préférences :</strong> mémorisation des paramètres d'affichage.<br>
          - <strong>Cookies analytiques :</strong> collecte de statistiques sur l'utilisation des vidéos.<br>
          - <strong>Cookies publicitaires :</strong> personnalisation des annonces.<br>
          Consultez la <a href="https://policies.google.com/privacy" target="_blank">politique de confidentialité de YouTube</a> pour plus d'informations.
      </p>
      <button class="accept">Accepter</button>
      <button class="decline">Refuser</button>
  </div>
</div>
