<!-- Auto collapsible section menu -->
<ul class="list-unstyled collapsible-sidebar">
  {{ $currentPage := . -}}
  {{ $section := $currentPage.Section -}}
  {{ $currentDir := "" -}}
  {{ $currentPath := "" -}}
  {{ with $currentPage.File -}}
    {{ $currentDir = .Dir -}}
    {{ $currentPath = .Path -}}
  {{ end -}}
  {{ range (where .Site.Sections "Section" "in" $section) }}
    {{ partial "sidebar/section-page-link.html" (dict "section" . "label" (or .LinkTitle .Title) "currentPath" $currentPath "itemClass" "mb-1" "linkClass" "btn btn-toggle no-caret rounded") }}
    {{ range .Pages.ByWeight }}
      {{ partial "sidebar/menu-item.html" (dict "page" . "currentDir" $currentDir "currentPath" $currentPath "top" true) }}
    {{ end }}
  {{ end }}
</ul>
