{{ if eq $.Site.Language.LanguageName "FR" }}
<div class="popup-overlay">
  <div class="popup-dialog">
      <p>
            <strong style="font-size: larger;">Consentement aux cookies YouTube.</strong><br>
          Pour regarder cette vidéo, vous devez accepter les cookies YouTube (hébergement via <em>youtube-nocookie.com</em> : mode de confidentialité renforcée).
      </p>
      <button class="accept">Accepter</button>
      <button class="decline">Refuser</button>
      <button class="close-popup" aria-label="Fermer">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
      </button>
  </div>
</div>
{{ end }}
{{ if eq $.Site.Language.LanguageName "EN" }}
<div class="popup-overlay">
  <div class="popup-dialog">
      <p>
            <strong style="font-size: larger;">YouTube Cookies Consent.</strong><br>
          To watch this video, you need to accept YouTube cookies (hosted via <em>youtube-nocookie.com</em>: enhanced privacy mode).
      </p>
      <button class="accept">Accept</button>
      <button class="decline">Decline</button>
      <button class="close-popup" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
      </button>
  </div>
</div>
{{ end }}