<footer class="footer text-muted">
  <div class="container-{{ site.Params.doks.containerBreakpoint | default "lg" }}">
    <div class="row">
      <div class="col-lg-8 text-center text-lg-start">
        <ul class="list-inline">
          <li class="list-inline-item">{{ site.Params.footer | safeHTML }}</li>
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a class="text-muted" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{- end }}
        </ul>
      </div>
      <div class="col-lg-8 text-center text-lg-end">
        <!-- Logo "France 2030 : Matériaux émergents" -->
        <a class="footer-logo-link" href="https://pepr-diadem.fr" target="_blank" rel="noopener noreferrer">
          <img class="footer-logo theme-light-only" src="{{ "images/france-2030/france-2030-couleurs-smaller.png" | relURL }}" width="400" height="200" alt="France 2030 – PEPR DIADEM" loading="lazy">
          <img class="footer-logo theme-dark-only" src="{{ "images/france-2030/france-2030-blanc-smaller.png" | relURL }}" width="400" height="200" alt="France 2030 – PEPR DIADEM" loading="lazy">
        </a>
      </div>
    </div>
  </div>
</footer>
