<footer class="site-footer">
  <div class="container-{{ site.Params.doks.containerBreakpoint | default "lg" }}">
    <div class="site-footer-main">
      <div class="site-footer-about">
        <a class="site-footer-brand" href="{{ relLangURL "" }}">
          <span class="brand-mark" aria-hidden="true"></span> {{ site.Title }}
        </a>
        <p class="site-footer-description">{{ i18n "footer_description" }}</p>
      </div>
      <div class="site-footer-sitemap">
        {{ range site.Menus.footer -}}
          {{ partial "footer/nav-column.html" (dict "column" . "page" $) }}
        {{ end -}}
      </div>
    </div>
    {{ partial "footer/supporters.html" . }}
  </div>
</footer>
