{{ define "main" }}
<main class="diamond-content">
<div class="container-fluid container-home-page">
<!-- <section class="section section-title-lead-landing-page container-fluid mt-n4 pb-3"> -->
<section class="section-title-lead-landing-page container-fluid">
  <div class="row text-center" style="width: 100vw;">
    <div class="container-title-homepage">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="container-fluid container-lead-homepage">
      <span class="lead">{{ .Params.lead | safeHTML }}</span>
    </div>
  </div>
</section>
<section class="section container-fluid mt-n4 pb-0 section-logo">
  <div class="row text-center">
    <div class="container-fluid text-center">
          <img class="logo-diamond homepage"/>
      {{ .Content }}
    </div>
  </div>
</section>
{{ if site.Params.doks.backgroundDots -}}
<div class="d-flex justify-content-start">
  <div class="bg-dots"></div>
</div>
{{ end -}}

{{- if eq $.Site.Language.LanguageName "FR" }}
  <section class="section section-md section-features mb-0">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5 scroll-fade">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage about"/>
          {{ end }}
          <h2 class="h4">Apprenez-en plus</h2>
          <p>Sur <a href="/about/diamond/">DIAMOND</a>, le <a href="/about/diadem/">PEPR DIADEM</a>, les <a href="/about/containers/">conteneurs</a> et <a href="/about/apptainer/">Apptainer</a>.</p>
        </div>
        <div class="col-lg-6 scroll-fade">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage containers"/>
          {{ end }}
          <h2 class="h4">Récupérez nos images Apptainer de codes populaires</h2>
          <p><a href="/codes/start-here/home/">Calcul scientifique et visualisation de données</a>.</p>
        </div>
        <div class="col-lg-5 scroll-fade">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage wfs-dbs"/>
          {{ end }}
          <h2 class="h4">Workflows et Bases de Données</h2>
          <p><a href="/workflows/start-here/home/">Workflows disponibles</a>. <a href="/data/">Contactez l'équipe développant les bases de données</a>.</p>
        </div>
        <div class="col-lg-6 scroll-fade">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage documentation"/>
          {{ end }}
          <h2 class="h4">Consultez la documentation</h2>
          <p><a href="/documentation/install/install-apptainer/">Installez Apptainer</a>, et <a href="/documentation/use/apptainer-image/">apprenez à utiliser nos images de conteneurs</a>.</p>
        </div>
        <div class="col-lg-6 scroll-fade">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="faq-icon" class="section-icon homepage faq"/>
          {{ end }}
          <h2 class="h4">Foire Aux Questions</h2>
          <p><a href="/documentation/faq/home/">Consultez notre FAQ</a>.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- {{/* Beginning of the temporary FAQs section */}}
  <section class="section section-md section-faq mt-n5">
    <a href="/documentation/faq/home/"><img alt="faq-icon" class="faq-icon scroll-fade"/><h2 class="scroll-fade text-center">{{ i18n "faq" }}</h2></a>
  </section>
  {{/* End of the temporary FAQs section */}} -->
  <!-- {{/* Beginning of the FAQs section */}}
  {{- $faqs := where .Site.RegularPages "Section" "faqs" }}
  {{- if (ge (len ($faqs)) 1) }}
    <section class="section section-md section-news">
      <div class="container">
        <div class="row justify-content-center text-center">
          <h2 class="scroll-fade">{{ i18n "faq" }}</h3>
        </div>
  {{- end }}
  {{- range $faqs }}
    <details>
      <summary>
        {{ .Title }}
      </summary>
      {{ .Content }}
    </details>
  {{- end }}
  {{- if (ge (len ($faqs)) 1) }}
      </div>
    </section>
  {{- end }}
  {{/* End of FAQs section */}} -->

  {{/* Beginning of the news section */}}
  {{ if site.Params.diamond.enableNews -}}
    <section class="section section-md section-news">
      <div class="container">
        <div class="row justify-content-center text-center">
          {{ $homepageNewsPages := where (where .Site.RegularPages "Section" "news") "Params.homepage" true }}
           {{ if (ge (len ($homepageNewsPages)) 1) }}
            <h2 class="scroll-fade">Actualités en vedette</h3>
          {{ end }}
          {{ range $homepageNewsPages }}
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 news-card-homepage scroll-fade" style="--bg-img: url({{ .Params.backgroundImage }});">
                <h4 class="br-inherit"><a class="stretched-link text-body br-inherit" href="{{ .Permalink }}">{{ .Title | safeHTML }}</a></h4>
                <p class="event-date-page">{{ .Params.EventDate }}</p>
                <p>{{ .Summary }}</p>
              </div>
          {{ end }}
        </div>
      </div>
    </div>
  {{end -}}
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "EN" }}
  <section class="section section-md section-features mt-0">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5 scroll-fade">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage about"/>
          {{ end }}
          <h2 class="h4">Learn more</h2>
          <p>About <a href="/en/about/diamond/">DIAMOND</a>, <a href="/en/about/diadem/">the PEPR DIADEM</a>, <a href="/en/about/containers/">containers</a> and <a href="/en/about/apptainer/">Apptainer</a>.</p>
        </div>
        <div class="col-lg-6 scroll-fade">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage containers"/>
          {{ end }}
          <h2 class="h4">Get our Apptainer images for popular codes</h2>
          <p><a href="/en/codes/start-here/home/">Scientific computing and data visualisation</a>.</p>
        </div>
        <div class="col-lg-5 scroll-fade">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage wfs-dbs"/>
          {{ end }}
          <h2 class="h4">Workflows & databases</h2>
          <p><a href="/en/workflows/start-here/home/">Available workflows</a>. <a href="/en/data/">Contact the team developing databases</a>.</p>
        </div>
        <div class="col-lg-6 scroll-fade">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage documentation"/>
          {{ end }}
          <h2 class="h4">Browse the documentation</h2>
          <p><a href="/en/documentation/install/install-apptainer/">Install Apptainer</a>, and <a href="/en/documentation/use/apptainer-image/">learn to use our container images</a>.</p>
        </div>
        <div class="col-lg-6 scroll-fade">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="faq-icon" class="section-icon homepage faq"/>
          {{ end }}
          <h2 class="h4">Frequently Asked Questions</h2>
          <p><a href="/en/documentation/faq/home/">Check out our FAQ</a>.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- {{/* Beginning of the temporary FAQs section */}}
  <section class="section section-md section-faq mt-n5">
    <a href="/en/documentation/faq/home/"><img alt="faq-icon" class="faq-icon scroll-fade"/><h2 class="scroll-fade text-center">{{ i18n "faq" }}</h2></a>
  </section> -->
  {{/* End of the temporary FAQs section */}}
  <!-- {{/* Beginning of the FAQs section */}}
  {{- $faqs := where .Site.RegularPages "Section" "faqs" }}
  {{- if (ge (len ($faqs)) 1) }}
    <section class="section section-md section-news">
      <div class="container">
        <div class="row justify-content-center text-center">
          <h2 class="scroll-fade">{{ i18n "faq" }}</h3>
        </div>
  {{- end }}
  {{- range $faqs }}
    <details>
      <summary>
        {{ .Title }}
      </summary>
      {{ .Content }}
    </details>
  {{- end }}
  {{- if (ge (len ($faqs)) 1) }}
      </div>
    </section>
  {{- end }}
  {{/* End of FAQs section */}} -->
  
  {{/* Beginning of the News section */}}
  {{ if site.Params.diamond.enableNews -}}
    <section class="section section-md section-news">
      <div class="container">
        <div class="row justify-content-center text-center">
          {{/*  {{ $i := 0}}
          {{ range where .Site.Pages "Section" "news" }}
            {{ if .Params.Homepage }}
              {{ $i = add $i 1 }}
            {{ end }}
          {{ end }}  */}}
           {{ $homepageNewsPages := where (where .Site.RegularPages "Section" "news") "Params.homepage" true }}
           {{ if (ge (len ($homepageNewsPages)) 1) }}
            <h2 class="scroll-fade">Featured News</h3>
          {{ end }}
          {{ range $homepageNewsPages }}
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 news-card-homepage scroll-fade" style="--bg-img: url({{ .Params.backgroundImage }});">
                <h4 class="br-inherit"><a class="stretched-link text-body br-inherit" href="{{ .Permalink }}">{{ .Title | safeHTML }}</a></h4>
                <p class="event-date-page">{{ .Params.EventDate }}</p>
                <p>{{ .Summary }}</p>
              </div>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end -}}
  {{ end }}
{{ end }}

{{ define "sidebar-prefooter" }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
</div>
</main>
{{ end }}

