{{ define "main" }}
<div class="container-fluid container-home-page">
{{/*  <section class="section section-title-lead-landing-page container-fluid mt-n4 pb-3">  */}}
<section class="section-title-lead-landing-page container-fluid">
  <div class="row text-center">
    <!-- <div class="col-lg-12 text-center"> -->
    <div class="container-title-homepage">
      <h1>{{ .Title }}</h1>
    </div>
    <!-- </div> -->
    <div class="container-fluid container-lead-homepage">
      <span class="lead">{{ .Params.lead | safeHTML }}</span>
      <!-- <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href=# role="button">{{ i18n "get_started" }}</a> -->
    </div>
  </div>
</section>
<section class="section container-fluid mt-n4 pb-0 section-logo">
  <div class="row text-center">
    <div class="container-fluid text-center">
          <img class="logo-diamond homepage"/>
      {{ .Content }}
    </div>
  </div>
</section>
{{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "FR" }}
  <section class="section section-md section-features mt-0">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage about"/>
          {{ end }}
          <h2 class="h4">Apprenez-en plus</h2>
          <p>Sur <a href="/about/diamond/">DIAMOND</a>, le <a href="/about/diadem/">PEPR DIADEM</a>, les <a href="/about/containers/">conteneurs</a> et <a href="/about/apptainer/">Apptainer</a>.</p>
        </div>
        <div class="col-lg-6">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage containers"/>
          {{ end }}
          <h2 class="h4">Récupérez nos images Apptainer de codes populaires</h2>
          <p><a href="/codes/start-here/home/">Calcul scientifique et visualisation de données</a>.</p>
        </div>
        <div class="col-lg-5">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage wfs-dbs"/>
          {{ end }}
          <h2 class="h4">Workflows et bases de données</h2>
          <p><a href="/workflows/start-here/home/">Notre premier workflow disponible</a>.</p>
        </div>
        <div class="col-lg-6">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage documentation"/>
          {{ end }}
          <h2 class="h4">Consultez la documentation</h2>
          <p><a href="/documentation/install/install-apptainer/">Installez Apptainer</a>, et <a href="/documentation/use/apptainer-image/">apprenez à utiliser nos images de conteneurs</a>.</p>
        </div>
      </div>
    </div>
  </section>
  {{ if site.Params.diamond.enableNews -}}
    <section class="section section-md section-news">
      <div class="container">
        <div class="row justify-content-center text-center">
          {{ $i := 0}}
          {{ range where .Site.Pages "Section" "news" }}
            {{ if .Params.Homepage }}
              {{ $i = add $i 1 }}
            {{ end }}
          {{ end }}
          {{ if (ge $i 1) }}
            <h2>Actualités en vedette</h3>
          {{ end }}
          {{ $i := 0 }}
          {{ range where .Site.Pages "Section" "news" }}
            {{ if .Params.Homepage }}
            {{ $i = add $i 1}}
              <style>
                .news-card-homepage-{{ $i }}::before {
                  background-image: url({{ .Params.backgroundImage }});
                }
              </style>
              <div class="col-lg-5 news-card-homepage-{{ $i }}">
                <h4>{{ .Title | safeHTML }}</h4>
                <p class="event-date-page">{{ .Params.EventDate }}</p>
                <p>{{ .Summary }}</p>
                <a href="{{ .Permalink }}">Apprenez-en plus</a>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  {{end -}}
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "EN" }}
  <section class="section section-md section-features mt-0">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage about"/>
          {{ end }}
          <h2 class="h4">Learn more</h2>
          <p>About <a href="/en/about/diamond/">DIAMOND</a>, <a href="/en/about/diadem/">the PEPR DIADEM</a>, <a href="/en/about/containers/">containers</a> and <a href="/en/about/apptainer/">Apptainer</a>.</p>
        </div>
        <div class="col-lg-6">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage containers"/>
          {{ end }}
          <h2 class="h4">Get our Apptainer images for popular codes</h2>
          <p><a href="/en/codes/start-here/home/">Scientific computing and data visualisation</a>.</p>
        </div>
        <div class="col-lg-5">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage wfs-dbs"/>
          {{ end }}
          <h2 class="h4">Workflows & databases</h2>
          <p><a href="/en/workflows/start-here/home/">Our first available workflow</a>.</p>
        </div>
        <div class="col-lg-6">
          {{ if site.Params.diamond.sectionsIcons }}
          <img alt="about-icon" class="section-icon homepage documentation"/>
          {{ end }}
          <h2 class="h4">Browse the documentation</h2>
          <p><a href="/en/documentation/install-apptainer/howto/">Install Apptainer</a>, and <a href="/en/documentation/use/apptainer-image/">learn to use our container images</a>.</p>
        </div>
      </div>
    </div>
  </section>
  {{ if site.Params.diamond.enableNews -}}
    <section class="section section-md section-news">
      <div class="container">
        <div class="row justify-content-center text-center">
          {{ $i := 0}}
          {{ range where .Site.Pages "Section" "news" }}
            {{ if .Params.Homepage }}
              {{ $i = add $i 1 }}
            {{ end }}
          {{ end }}
          {{ if (ge $i 1) }}
            <h2>Featured News</h3>
          {{ end }}
          {{ $i := 0 }}
          {{ range where .Site.Pages "Section" "news" }}
            {{ if .Params.Homepage }}
            {{ $i = add $i 1}}
              <style>
                .news-card-homepage-{{ $i }}::before {
                  background-image: url({{ .Params.backgroundImage }});
                }
              </style>
              <div class="col-lg-5 news-card-homepage-{{ $i }}">
                <h4>{{ .Title | safeHTML }}</h4>
                <p class="event-date-page">{{ .Params.EventDate }}</p>
                <p>{{ .Summary }}</p>
                <a href="{{ .Permalink }}">Apprenez-en plus</a>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  {{ end -}}
  {{ end }}
{{ end }}

{{ define "sidebar-prefooter" }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
</div>
{{ end }}
