{{ define "main" }}
<div class="container-fluid container-landing-page">
<section class="section container-fluid mt-n3 pb-3">
  <div class="row text-center">
    <!-- <div class="col-lg-12 text-center"> -->
      <h1>{{ .Title }}</h1>
    <!-- </div> -->
    <div class="container-fluid text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <!-- <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href=# role="button">{{ i18n "get_started" }}</a> -->
      <br/>
      <br/>
      <img src="/images/logo-diamond-cropped.svg" width="38%"/>
      {{ .Content }}
    </div>
  </div>
</section>
{{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "FR" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Apprenez-en plus</h2>
          <p>Sur <a href="/fr/about/diamond/">DIAMOND</a>, le <a href="/fr/about/diadem/">PEPR DIADEM</a>, les <a href="/fr/about/containers/">conteneurs</a> et <a href="/fr/about/apptainer/">Apptainer</a>.</p>
        </div>
        <div class="col-lg-6">
          <h2 class="h4">Récupérez nos conteneurs de code</h2>
          <p><a href="/fr/codes/start-here/home/">Calcul scientifique et visualisation de données</a>.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Workflows et bases de données.</h2>
          <p>Contenu à venir.</p>
        </div>
        <div class="col-lg-6">
          <h2 class="h4">Consultez la documentation</h2>
          <p><a href="/fr/documentation/install-apptainer/howto/">Installez Apptainer</a>, et <a href="/fr/documentation/use-apptainer-image/howto/">apprenez à utiliser nos conteneurs</a>.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ if eq $.Site.Language.LanguageName "EN" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Learn more</h2>
          <p>About DIAMOND, DIADEM, containers and Apptainer.</p>
        </div>
        <div class="col-lg-6">
          <h2 class="h4">Get our containers of code</h2>
          <p>Scientific computing and data visualisation.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Workflows & databases</h2>
          <p>To be added to the platform.</p>
        </div>
        <div class="col-lg-6">
          <h2 class="h4">Browse the documentation</h2>
          <p>Install Apptainer, et learn to use our containers.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-prefooter" }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
</div>
{{ end }}
