

.section-title-lead-landing-page {
    background-image: url(/images/banner-diamond/banner-diamond-light.png);
    background-size: cover;//130% auto;
    height: fit-content;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    align-items: center;
}

.container-title-homepage h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.container-title-homepage,
.container-lead-homepage {
    display: flex;
    // align-items: center;
    justify-content: center;
    height: 50%;
}

.container-title-homepage {
    align-items: last baseline;
    margin-top: 5%;
}
.container-lead-homepage {
    align-items: first baseline;
    margin-bottom: 5%;
}

.container-title-homepage h1 {
    position: relative;
    top: -0.35em;
}

.container-lead-homepage .lead {
    position: relative;
    top: 0.35em;
}

// @include media-breakpoint-up(sm) {
// .container-title-homepage {
//     padding-bottom: -25px;
// }
// .container-lead-homepage {
//     padding-top: -25px;
// }

// }



@include color-mode(dark) {
    .section-title-lead-landing-page {
        background-image: url(/images/banner-diamond/banner-diamond-dark.png);
    }
}

@include media-breakpoint-up(xl) {
    .section-title-lead-landing-page {
        width: 85%;
    }
}
@include media-breakpoint-down(xl) {
    .section-title-lead-landing-page {
        width: 100%;
    }
}

// @include media-breakpoint-down(md) {
//     // .section-title-lead-landing-page {
//     //     background-size: fill;
//     // }

//     // .container-title-homepage {
//     //     align-items: last baseline;
//     // }

//     // .container-title-homepage {
//     //     padding-bottom: 5%;
//     // }
//     // .container-lead-homepage {
//     //     padding-top: 5%;
//     // }
// }

@include media-breakpoint-down(sm) {

    .section-title-lead-landing-page {
        max-width: 120%;
        width: 120%;
        position: relative;
        left: -10%;
    }
    .container-title-homepage h1 {
        font-size: $h2-font-size;
        position: relative;
        top: -0.10em
    }
    .container-lead-homepage .lead {
        font-size: $h4-font-size;
        position: relative;
        top: 0.10em
    }



}


.container-h1-default-page {
    background-image: url(/images/banner-diamond/banner-diamond-light.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: center;
}


@include color-mode(dark) {
    .container-h1-default-page {
        background-image: url(/images/banner-diamond/banner-diamond-dark.png);
    }
}

@include media-breakpoint-up(xl) {
    .container-h1-default-page {
        width: 70%;
    }
}

@include media-breakpoint-only(lg) {
    .container-h1-default-page {
        width: 85%;
    }
}


.container-h1-default-page h1 {
    margin-top: 0;
    margin-bottom: 0;
}


