// // // Codes pages top logos // // //

.codes-pages-top-logo {
    display: flex;
    width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-neper {
    width: 100%;
    content: url(/images/home-neper.png);
}

.logo-lammps {
    width: 100%;
    content: url(/images/lammps-logo.jpeg);
}

.logo-ovito {
    width: 100%;
    content: url(/images/ovito-logo-light.png);
}
@include color-mode(dark) {
    .logo-ovito {
        content: url(/images/ovito-logo-dark.png);
    }
}

.logo-quantum-espresso {
    width: 100%;
    content: url(/images/quantum-espresso-logo-light.png);
}
@include color-mode(dark) {
    .logo-quantum-espresso {
        content: url(/images/quantum-espresso-logo-dark.png);
    }
}

.logo-paraview {
    width: 100%;
    content: url(/images/paraview-logo-light.svg);
}
@include color-mode(dark) {
    .logo-paraview {
        content: url(/images/paraview-logo-dark.svg);
    }

}

.logo-vesta {
    width: 100%;
    content: url(/images/vesta-logo-light.png);
}
@include color-mode(dark) {
    .logo-vesta {
        content: url(/images/vesta-logo-dark.png);
    }
}

.logo-vmd {
    width: 100%;
    content: url(/images/vmd-logo-light.png);
}
@include color-mode(dark) {
    .logo-vmd {
        content: url(/images/vmd-logo-dark.png);
    }
}

.logo-abinit {
    width: 100%;
    content: url(/images/codes/abinit/abinit-logo-light.svg);
}
@include color-mode(dark) {
    .logo-abinit {
        content: url(/images/codes/abinit/abinit-logo-dark.svg);
    }
}

.logo-z-set {
    width: 100%;
    content: url(/images/z-set-light-smaller.png);
}
@include color-mode(dark) {
    .logo-z-set {
        content: url(/images/z-set-dark-smaller.png);
    }
}

.logo-freefem {
    width: 100%;
    content: url(/images/freefem-logo-light.svg);
}
@include color-mode(dark) {
    .logo-freefem {
        content: url(/images/freefem-logo-dark.svg);
    }
}

.logo-opencalphad {
    width: 100%;
    content: url(/images/opencalphad-logo-light.png);
}
@include color-mode(dark) {
    .logo-opencalphad {
        content: url(/images/opencalphad-logo-dark.png);
    }
}

.logo-plumed {
    content: url(/images/plumed-light.png);
    width: 50%;
}
@include color-mode(dark) {
    .logo-plumed {
        content: url(/images/plumed-dark.png);
    }
}

.logo-gmsh {
    content: url(/images/gmsh-light.png);
    width: 50%;
}
@include color-mode(dark) {
    .logo-gmsh {
        content: url(/images/gmsh-dark.png);
    }
}

.logo-zeoplusplus {
    content: url(/images/zeo++/logo-zeoplusplus.png);
    width: 65%;
}

.logo-raspa2 {
    content: url(/images/codes/raspa2/raspa2-logo.png);
    width: 50%;
}

.logo-opendis {
    content: url(/images/opendis/opendis-logo.png);
    width: 60%;
}
// @include color-mode(dark) {
//     .logo-opendis {
//         content: url(/images/opendis/opendis-logo-dark.png);
//     }
// }

.logo-xcrysden {
    width: 100%;
    content: url(/images/xcrysden/xcrysden-logo-light.png);
}
@include color-mode(dark) {
    .logo-xcrysden {
        content: url(/images/xcrysden/xcrysden-logo-dark.png);
    }
}

.logo-wannier90 {
    width: 100%;
    content: url(/images/wannier90/wannier90-logo-light.svg);
}
@include color-mode(dark) {
    .logo-wannier90 {
        content: url(/images/wannier90/wannier90-logo-dark.svg);
    }
}


// // NWChem logo // //

.logo-nwchem {
    width: 100%;
    content: url(/images/codes/nwchem/nwchem-logo-light.png);
}
@include color-mode(dark) {
    .logo-nwchem {
        content: url(/images/codes/nwchem/nwchem-logo-dark.png);
    }
}

// // END NWChem logo END // //

// // FEniCS logo // //

.logo-fenics {
    width: 40%;
    content: url(/images/codes/fenics/fenics-logo.png);
}

// // END FEniCS logo END // //

// // FEniCS logo // //

.logo-cp2k {
    width: 60%;
    content: url(/images/codes/cp2k/cp2k-logo.png);
}

// // END FEniCS logo END // //

// // n2p2 logo // //

.container-logo-n2p2:hover {
    text-decoration: none;
}

.logo-n2p2 {
    font-size: 800%;
    color: black;
}
@include color-mode(dark) {
    .logo-n2p2 {
        color: white;
    }
}
// // END n2p2 logo END // //

// // dftbplus logo // //

.logo-dftbplus {
    width: 100%;
    content: url(/images/codes/dftbplus/dftbplus-logo-light.png);
}
@include color-mode(dark) {
    .logo-dftbplus {
        content: url(/images/codes/dftbplus/dftbplus-logo-dark.png);
    }
}
// // END dftbplus logo END // //


// // // END Codes pages top logos END // // //
