.card-custom {
  border: 0.75px solid black;
}

.card-custom:hover {
  border: 0.75px solid black !important;
}


@include color-mode(dark) {
  .card-custom {
      border: 0.75px solid white !important;
  }
}

.card-icon {
  width: 2em; height: 2em;
  margin-right: 0.5em;
}

.icon-title-wrapper-card {
  display: flex;
  align-items: center;
}

@include media-breakpoint-down(sm) {
  .icon-title-wrapper-card {
    font-size: $h6-font-size;
  }
}
