// // news cards on home page // //

.news-card-homepage {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), var(--bg-img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    border: solid black 1px;
    border-radius: 45px;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

@include color-mode(dark) {
    .news-card-homepage {
        background-image: linear-gradient(rgba(44, 44, 44, 0.6), rgba(44, 44, 44, 0.6)), var(--bg-img);
        border: solid white 1px;
    }
}


// // END news cards END // //

// // news pages // //

.news-page {
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), var(--bg-img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex: 1;
}
@include color-mode(dark) {
    .news-page {
        background-image: linear-gradient(rgba(44, 44, 44, 0.8), rgba(44, 44, 44, 0.8)), var(--bg-img);
    }
}


// // END news page END // //

.event-date {
    font-style: italic;
    font-size: x-large;
}

.event-date-page {
    font-style: italic;
    font-weight: 500;
}
