// // // RESPONSIVE DESIGN: // // //

// // 'About' section // //

// guix logo scaling //

.logo-guix.about {
    display: block;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}
@include media-breakpoint-up(xl) {
    .logo-guix.about {
        width: 50%;
    }
}
@include media-breakpoint-only(lg) {
    .logo-guix.about {
        width: 65%;
    }
}
@include media-breakpoint-only(md) {
    .logo-guix.about {
        width: 65%;
    }
}
@include media-breakpoint-down(md) {
    .logo-guix.about {
        width: 80%;
    }
}

// END logo guix scaling END //
