// // // >>> sections large icons >>> // // //
.section-features {
    margin-top: 50px;
}

.homepage.section-icon {
    display: flex;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-bottom: -15px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.homepage.section-icon.about {
    background-image: url(images/sections-icons/light/about.svg);
}

.homepage.section-icon.containers {
    background-image: url(images/sections-icons/light/containers.svg);
}

.homepage.section-icon.documentation {
    background-image: url(images/sections-icons/light/documentation.svg);
}

.homepage.section-icon.wfs-dbs {
    background-image: url(images/sections-icons/light/wfs-dbs.svg);
    width: 186px;
}

.homepage.section-icon.faq {
    background-image: url(/images/sections-icons/light/faq.png);
}

@include color-mode(dark) {
    .homepage.section-icon.about {
        background-image: url(images/sections-icons/dark/about.svg);
    }

    .homepage.section-icon.containers {
        background-image: url(images/sections-icons/dark/containers.svg);
    }

    .homepage.section-icon.documentation {
        background-image: url(images/sections-icons/dark/documentation.svg);
    }

    .homepage.section-icon.wfs-dbs {
        background-image: url(images/sections-icons/dark/wfs-dbs.svg);
        width: 186px;
    }

    .homepage.section-icon.faq {
        background-image: url(/images/sections-icons/dark/faq.png);
    }
}

// // // <<< sections large icons <<< // // //

@include media-breakpoint-down(sm) {
    .homepage.section-icon {
        height: 80px;
        width: 80px;
    }

    .homepage.section-icon.wfs-dbs {
        width: 149px;
    }

    .section-features {
        margin-top: 10px;
    }
}
