.svg-inline {
  display: inline-block;
  vertical-align: sub;
}

.svg-inline-shortcut {
  width: 1.25em; height: 1.25em;
  position: relative;
  margin-right: 0.15em;
}

.svg-inline-sidebar {
  width: 1.5em; height: 1.5em;
  margin-left: -0.25em;
  margin-right: 0.15em;
}
