/* Styles du placeholder */
.youtube-placeholder {
  width: 100%;
  aspect-ratio: 48 / 27;
  margin-top: 1%;
  margin-bottom: 2%;
  background-image: url(cover-diamond.png);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
}

/* Styles de la boîte de dialogue */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.popup-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.popup-dialog button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.popup-dialog .accept {
  background-color: #007BFF;
  color: white;
}

.popup-dialog .decline {
  background-color: #ccc;
}
