// Put your custom SCSS code here

@include color-mode(dark) {
    .dropdown-menu {
        background-color: $body-bg-dark;
    }
}
.dropdown-languages {
    width: 80px;
}


.dropdown-languages .btn .dropdown-caret {
    // color: $body-color-dark;
    font-weight: 500;
    min-height: 0;
    position: relative;
    top: -3px;
}

.dropdown-languages .btn .dropdown-caret:hover {
    // color: $body-color-dark;
    font-weight: 500;
    color: $link-color;
}

@include color-mode(dark) {
    .dropdown-languages .btn .dropdown-caret:hover {
        // background-color: $body-bg-dark;
        color: $link-color-dark
    }

    .navbar {
        border-bottom: 1px solid $white;
      }
}

.dropdown-languages .dropdown-menu {
    min-width: 80px;
    // min-height: 0;
    // padding-top: 0;
    // padding-bottom: 0;
    border: 0;
    // background-color: $body-bg-dark;
    // background-color: $body-bg;
    margin-top: -5;
//     position: relative;
//     top: -5px;
}


.dropdown-languages .dropdown-menu .dropdown-item {
    // color: $body-color-dark;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}    

.nav-logo {
    height: 55px;
    // position: relative;
    // top: -3px;
    content: url('/images/diamond-new-light.png');
}

@include color-mode(dark) {
    .nav-logo {
        content: url('/images/diamond-new-dark.png');
    }
}

.current-language-display {
    display: inline-block;
    width: 20px;
}

// .dropdown-toggle-split {
// } 
// 

.nav-item.dropdown {
    margin-right: -11px;    
}

.nav-link {
    font-weight: 500;
}

.about-lead {
    font-weight: 500;
    margin-bottom: 3%;
}


.navbar {
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid $black;

  /*
  margin-top: 4px;
  */
}

@include media-breakpoint-up(lg) {
    .diamond-docs-sidebar-container {
        border-right: 1px dashed $black;
    }

    .docs-sidebar {
      order: 0;
    //   border-right: 1px solid $black;
      
    }
    @include color-mode(dark) {
        .diamond-docs-sidebar-container {
            border-right: 1px dashed $white;
        }
    }
}

.footer {
    border-top: 1px solid $black;
}

@include color-mode(dark) {
    .footer {
        border-top: 1px solid $white;
    }
}


h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    visibility: hidden;
}

u {
    text-underline-offset: 6px;
}

// // // custom icons // // //

.custom-icon {
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 0px;
    position: relative;
    top: 3px; left: 0px;
}

.icon-lammps {
    background-image: url(/images/lammps-icon.svg);
    @extend .custom-icon;
}
  
.icon-ovito {
    background-image: url(/images/ovito-icon.png);
    @extend .custom-icon;
}

.icon-quantum-espresso {
    background-image: url(/images/quantum-espresso-icon-light.png);
    @extend .custom-icon;
}

@include color-mode(dark) {
    .icon-quantum-espresso {
    background-image: url(/images/quantum-espresso-icon-dark.png);
    }
}

.icon-paraview {
    background-image: url(/images/paraview-icon.png);
    @extend .custom-icon;
}

.icon-vesta {
    background-image: url(/images/vesta-icon.png);
    @extend .custom-icon;
}

.icon-vmd {
    background-image: url(/images/vmd-icon-light.png);
    @extend .custom-icon;
}

@include color-mode(dark) {
    .icon-vmd {
        background-image: url(/images/vmd-icon-dark.png);
    }
}

.icon-abinit {
    background-image: url(/images/abinit-icon-light.svg);
    @extend .custom-icon;
}

@include color-mode(dark) {
    .icon-abinit {
        background-image: url(/images/abinit-icon-dark.svg);
    }
}

.icon-z-set {
    background-image: url(/images/zset-icon.svg);
    @extend .custom-icon;
}

.icon-freefem {
    background-image: url(/images/freefem-icon-light.svg);
    @extend .custom-icon;
}
@include color-mode(dark) {
    .icon-freefem {
        background-image: url(/images/freefem-icon-dark.svg);
    }
}

.icon-opencalphad {
    background-image: url(/images/opencalphad-icon-light.png);
    @extend .custom-icon;
}
@include color-mode(dark) {
    .icon-opencalphad {
        background-image: url(/images/opencalphad-icon-dark.png);
    }
}

.icon-neper {
    background-image: url(/images/neper-icon.png);
    @extend .custom-icon
}


// // // END custom icons END // // //

.content .svg-inline {
    margin-bottom: 0.5rem;
}

.logo-apptainer {
    content: url(/images/apptainer-logo.svg);
}
@include color-mode(dark) {
    .logo-apptainer {
        content: url(/images/apptainer-logo-dark.svg);
    }   
}

.logo-diamond {
    content: url(/images/logo-diamond-new-light.png);
}
@include color-mode(dark) {
    .logo-diamond {
        content: url(/images/logo-diamond-new-dark.png);
    }   
}

.logo-diamond-homepage {
    content: url(/images/logo-diamond-new-light.png);
    width: 38%;
}
@include color-mode(dark) {
    .logo-diamond-homepage {
        content: url(/images/logo-diamond-new-dark.png);
    }   
}

@include media-breakpoint-down(lg) {
    .logo-diamond-homepage {
        width: 100%;
        position: relative;
        top: -35px;
    }
}

.logo-guix {
    content: url(/images/guix-logo-light.svg);
}
@include color-mode(dark) {
    .logo-guix {
        content: url(/images/guix-logo-dark.svg);
    }
}


// // // Apptainer in parallel tuto picture // // //

.hybrid-ompi {
    content: url(images/hybrid-ompi-light.png);
    width: 100%;
}

@include color-mode(dark) {
    .hybrid-ompi{
        content: url(images/hybrid-ompi-dark.png)
    }
}

// // // Codes pages top logos // // //

.codes-pages-top-logo {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 8%;
}

.home-neper {
    content: url(/images/home-neper.png);
}

.logo-lammps {
    content: url(/images/lammps-logo.png);
}

.logo-ovito {
    content: url(/images/ovito-logo-light.png);
    @extend .codes-pages-top-logo;
}
@include color-mode(dark) {
    .logo-ovito {
        content: url(/images/ovito-logo-dark.png);
    }   
}

.logo-quantum-espresso {
    content: url(/images/quantum-espresso-logo-light.png);
}
@include color-mode(dark) {
    .logo-quantum-espresso {
        content: url(/images/quantum-espresso-logo-dark.png);
    }
}

.logo-paraview {
    content: url(/images/paraview-logo-light.svg);
}
@include color-mode(dark) {
    .logo-paraview {
        content: url(/images/paraview-logo-dark.svg);
    }
        
}

.logo-vesta {
    content: url(/images/vesta-logo-light.png);
}
@include color-mode(dark) {
    .logo-vesta {
        content: url(/images/vesta-logo-dark.png);
    }
}

.logo-vmd {
    content: url(/images/vmd-logo-light.png);
}
@include color-mode(dark) {
    .logo-vmd {
        content: url(/images/vmd-logo-dark.png);
    }
}

.logo-abinit {
    content: url(/images/abinit-logo-light.svg);
}
@include color-mode(dark) {
    .logo-abinit {
        content: url(/images/abinit-logo-dark.svg);
    }
}

.logo-z-set {
    content: url(/images/z-set-light.png);
}
@include color-mode(dark) {
    .logo-z-set {
        content: url(/images/z-set-dark.png);
    }
}

.logo-freefem {
    content: url(/images/freefem-logo-light.svg);
}
@include color-mode(dark) {
    .logo-freefem {
        content: url(/images/freefem-logo-dark.svg);
    }
}

.logo-opencalphad {
    content: url(/images/opencalphad-logo-light.png);
}
@include color-mode(dark) {
    .logo-opencalphad {
        content: url(/images/opencalphad-logo-dark.png);
    }
}

// // // END Codes pages top logos END // // //

.logo-france2030-desktop,
.logo-france2030-mobile {
    content: url('/images/france-2030-couleurs.png');
}

@include color-mode(dark) {
    .logo-france2030-desktop,
    .logo-france2030-mobile {
    content: url('/images/france-2030-blanc.png');
    }   
}

@include media-breakpoint-only(xl) {
    .logo-france2030-desktop {
        // content: url('/images/france-2030-couleurs.png');
        height: 75px;
        margin-right: 10px;
    }

    .nav-item {
        margin: 0;
    }

    // .nav-link {
    //     font-size: 100%
    // }

    .nav-logo {
        height: 50px;
    }

}




// @include color-mode(dark) {
//     .logo-france2030 {
//         content: url('/images/france-2030-blanc.png');
//     }
// }

@include media-breakpoint-up(xxl) {
    .logo-france2030-desktop {
        height : 90px;
        margin-right: 30px;
    }

    // .nav-item {
    //     font-weight: $font-weight-normal;
    //     font-size: $font-size-md;
    // }


}


.logo-france2030-mobile {
    height: 90px;
    // text-align: center;
    // position: center auto;
}


@include media-breakpoint-down(lg){
    
    // .anchor-france2030-mobile,
    // .logo-france2030-mobile {
    //     text-align: center;
    //     visibility: visible;
    // }
    // .anchor-france2030-desktop,
    .logo-france2030-desktop{
        display: none;
    }
    
}

@include media-breakpoint-up(lg){
    .logo-france2030-mobile {
        display: none;
    }
}




.col-default-page {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}

.container-blog-page {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}

@include media-breakpoint-up(xl) {
    .col-default-page {
        min-height: 70vh;
    }

    // .container-blog-page {
    //     min-height: 70vh;
    // }
    
}

.container-landing-page {
    min-height: 89vh;
    display: flex;
    flex-direction: column;
}


.footer{
    margin-top: auto;
}

.diamond-docs-sidebar-container {
    width: 342px;
    min-height: 89vh;
    display: flex;
    flex-direction: column;
}

.docs-sidebar {
    width: 318px;
}



.section-title-lead-landing-page {
    min-width: 100%;
    min-height: 250px;
    background-image: url(/images/c-diamond-light.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    // background-position: 50% 70%;
    background-position-y: center;
    background-position-x: center;
}

@include media-breakpoint-down(lg) {
    .container-title-homepage h1 {
        position: relative;
        top: -15%;
        min-width: 100%;
        min-height: 170px;
        background-image: url(/images/c-diamond-light.png);
        padding-left: 60px;
        margin-left: -60px;
        padding-right: 60px;
        margin-right: -60px;
        height: 170px;
        background-size: auto 100%;
        background-repeat: no-repeat;
        // background-position: 50% 70%;
        background-position-y: 80%;
        background-position-x: 60%;
        display: flex; 
        align-items: center; 
        height: 170px;
        justify-content: center;
        
        // padding-right: 30%;
        // margin-right: -30%;
    }

    @include color-mode(dark) {
        .container-title-homepage h1 {
            background-image: url('/images/c-diamond-dark.png');
        }
    }
}

.container-h1-default-page {
    min-width: 100%;
    min-height: 170px;
    background-image: url(/images/c-diamond-light.png);
    background-size: 85% auto;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;

}

// @include media-breakpoint-down(md) {
.container-h1-default-page {
        // min-height: 170px;
        // background-position-y: top;
        // height: max-content;
        // // display: flex;
        // // align-items: center;
        // display: table-cell;
        // vertical-align: middle;
        // text-align: center;
    display: flex; 
    align-items: center; 
    height: 170px;
    justify-content: center;

        
    // }

    // .text-like-home-h1 {
    //     position: relative;
    //     top: 50%; 
    //     transform: translateY(-50%);
    // }
}

.text-like-home-h1 {
    position: relative;
    top: -5%;
}

@include color-mode(dark) {
    .section-title-lead-landing-page,
    .container-h1-default-page {
        background-image: url(/images/c-diamond-dark.png);
    }
}


@include media-breakpoint-down(lg) {
    .section-title-lead-landing-page {
        background-image: none;
    }
    @include color-mode(dark) {
        .section-title-lead-landing-page {
            background-image: none;
        }   
    }
    
    .container-h1-default-page {
        background-size: auto 100%;
    }
    
}

@include media-breakpoint-down(md) {
    .nav-logo{
        height: 40px;
    }
}



.text-x-large {
    font-size: x-large;
}

.text-like-home-h1 {
    font-size: calc(1.375rem + 1.5vw); 
    // font-size: calc(1.875rem + 1.5vw);
    // margin-top: -1rem;
}

.lead {
    font-weight: 500;
}

.header-dropdown-text.active {
    color: $link-color;
}

@include color-mode(dark) {
    .header-dropdown-text.active {
        color: $link-color-dark;
    }   
}

@include media-breakpoint-down(xl) {
    .navbar-brand {
        font-size: $font-size-md;
    }

    .nav-item {
        font-size: $font-size-base;
    }
}

@include color-mode(dark){
    .navbar,
    .doks-subnavbar {
        background-color: rgba(44, 44, 44, 0.95);
    }
}

#totopbutton {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
#totopbutton.fade {
    opacity: 1;
}

.docs-sidebar {
    border-right: none;
}

@include color-mode(dark) {
    .docs-sidebar {
        border-right: none;
    }
}

@include media-breakpoint-down(md) {
    .navbar .offcanvas.offcanvas-start,
    .navbar .offcanvas.offcanvas-end {
      width: 95vw;
    }
  }
  
@include media-breakpoint-down(lg) {
    .switch-language-desktop,
    .switch-color-mode-desktop {
        display: none;
    }

}

@include media-breakpoint-up(lg) {
    .switch-language-mobile,
    .switch-color-mode-mobile {
        display: none;
    }

}


.switch-language-mobile {
    text-align: right;
    margin-right: 3%;
    margin-left: 2%;
}


.tuto-video {
    width: 100%;
    aspect-ratio: 48 / 27;
    margin-top: 1%;
    margin-bottom: 2%;
}


@include media-breakpoint-up(lg){
    .left-about-diamond-fr {
        width: 32%;
        margin-top: 3%;
    }

    .right-about-diamond-fr {
        width: 68%;
        // padding: 20px 0;
    }
}

@include media-breakpoint-up(xl){
    .left-about-diamond-fr {
        width: 25%;
        margin-top: 0;
    }

    .right-about-diamond-fr {
        width: 75%;
        padding: 20px 0;
    }
}


@include media-breakpoint-down(lg) {
    .left-about-diamond-fr {
      width: 100%;
      margin-top: 5%;
    }
  
    .right-about-diamond-fr {
      width: 100%;
      margin-top: 10%;
    //   padding: 0;
    }
  
}

@include media-breakpoint-up(lg){
    .left-about-diamond-en {
        width: 32%;
        margin-top: 2%;
    }

    .right-about-diamond-en {
        width: 68%;
        // padding: 20px 0;
    }
}

@include media-breakpoint-up(xl){
    .left-about-diamond-en {
        width: 25%;
        margin-top: 0;
    }

    .right-about-diamond-en {
        width: 75%;
        padding: 35px 0;
    }
}


@include media-breakpoint-down(lg) {
    .left-about-diamond-en {
      width: 100%;
      margin-top: 5%;
    }
  
    .right-about-diamond-en {
      width: 100%;
      margin-top: 10%;
    //   padding: 0;
    }
  
}

@include media-breakpoint-up(lg) {
    .left-about-diadem-fr {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .diadem-logo-about {
        width: 100%;
        padding: 0 25%;
    }

    .right-about-diadem-fr {
        width: 100%;
        margin-bottom: 5%;
    }

}


@include media-breakpoint-up(xl) {
    .left-about-diadem-fr {
        width: 28%;
        margin-top: 1%;
        margin-bottom: 0;
    }

    .diadem-logo-about{
        padding: 10% 0;
    }

    .right-about-diadem-fr {
        width: 72%;
        margin-bottom: 0;
    }
}

@include media-breakpoint-down(md) {
    .left-about-diadem-fr {
      width: 100%;
      margin-top: 5%;
    }
  
    .right-about-diadem-fr {
      width: 100%;
      margin-top: 10%;
    }
  
}

@include media-breakpoint-up(lg) {
    .left-about-diadem-en {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .diadem-logo-about {
        width: 100%;
        padding: 0 25%;
    }

    .right-about-diadem-en {
        width: 100%;
        margin-bottom: 5%;
    }

}


@include media-breakpoint-up(xl) {
    .left-about-diadem-en {
        width: 28%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .diadem-logo-about{
        padding: 0 5%;
    }

    .right-about-diadem-en {
        width: 72%;
        margin-bottom: 0;
    }
}

@include media-breakpoint-down(lg) {
    .left-about-diadem-en {
      width: 100%;
      margin-top: 5%;
      text-align: center;
    }
  
    .right-about-diadem-en {
      width: 100%;
      margin-top: 10%;
    }
  
}

@include media-breakpoint-up(lg) {
    .left-about-apptainer-fr {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .apptainer-logo-about {
        width: 100%;
        padding: 0 25%;
    }

    .right-about-apptainer-fr {
        width: 100%;
        margin-bottom: 0%;
    }

}


@include media-breakpoint-up(xl) {
    .left-about-apptainer-fr {
        width: 25%;
        margin-top: 0%;
        margin-bottom: 0;
    }

    .apptainer-logo-about{
        padding: 0;
    }

    .right-about-apptainer-fr {
        width: 75%;
        margin-bottom: 0;
        padding: 2% 2%;
    }
}

@include media-breakpoint-down(lg) {
    .left-about-apptainer-fr {
        text-align: center;
        width: 100%;
        margin-top: 5%;
    }

    .apptainer-logo-about {
        width: 100%;
        padding: 0 10%;
    }
  
    .right-about-apptainer-fr {
        width: 100%;
        margin-top: 10%;
    }
  
}

@include media-breakpoint-only(md) {
    .apptainer-logo-about {
        width: 70%;
    }
}

@include media-breakpoint-up(lg) {
    .left-about-apptainer-en {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .apptainer-logo-about {
        width: 100%;
        padding: 0 25%;
    }

    .right-about-apptainer-en {
        width: 100%;
        margin-bottom: 0%;
    }

}


@include media-breakpoint-up(xl) {
    .left-about-apptainer-en {
        width: 25%;
        margin-top: 0%;
        margin-bottom: 0;
    }

    .apptainer-logo-about{
        padding: 0;
    }

    .right-about-apptainer-en {
        width: 75%;
        margin-bottom: 0;
        padding: 2% 2%;
    }
}

@include media-breakpoint-down(lg) {
    .left-about-apptainer-en {
      width: 100%;
      margin-top: 5%;
    }

    .apptainer-logo-about {
        width: 100%;
        padding: 0 10%;
    }
  
    .right-about-apptainer-en {
      width: 100%;
      margin-top: 10%;
    }
  
}

@include media-breakpoint-up(lg){

    .left-about-guix-fr {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
  
    .right-about-guix-fr {
        width: 100%;
   }

    .guix-logo-about {
        width: 100%;
        padding: 0 20%;
    }

}



@include media-breakpoint-up(xl){

    .left-about-guix-fr {
        width: 100%;
    }
  
    .right-about-guix-fr {
        width: 100%;
        // padding: 20px 0;
    }

    .guix-logo-about {
        width: 100%;
        padding: 0 30%;
    }

}

.switch-color-mode-mobile {
    margin-left:auto;
    display:block;
}



.search-mobile {
    margin-right: 3%;
    margin-left:auto;
    display:block;
}

.close-button-mobile {
    margin-left: 3%;
    display: block;
}

th, tr {
    border-bottom: solid rgba(150, 150, 150, 1) 1px;
}

@include color-mode(dark) {
    th, tr {
        border-bottom: solid $body-color-dark 1px;
    }
}

.sidebar-icon {
    margin-right: 6px;
}


.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}

.sidebar-google-icon {
    display: inline-block;
    position: relative;
    top: 4px; left: -1px;
    // margin-right: -4px;
}

// // // modify _global.scss // // // 

@include media-breakpoint-up(lg) {
    .docs-sidebar {
      order: 0;
      // border-right: 1px solid $gray-200;
    }
  
    @supports ((position:-webkit-sticky) or (position:sticky)) {
        .docs-sidebar {
            position: -webkit-sticky;
            position: sticky;
            top: 6.75rem;
            z-index: 1000;
            height: calc(80vh - 4.25rem);
            overflow-y: hidden;
        }
    
        .docs-sidebar-offset {
            top: 7rem;
            height: calc(80vh - 4.5rem);
        }
    
        .docs-sidebar-top {
            position: static;
        }
    }
}

@include media-breakpoint-up(lg) {
    .docs-links {
      margin-right: 0.25rem;
    }
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    .docs-toc {
      position: -webkit-sticky;
      position: sticky;
      top: 6.75rem;
      height: calc(85vh - 6.75rem);
      overflow-y: auto;
    }
  
    .docs-toc-offset {
      top: 7rem;
      height: calc(85vh - 7rem);
    }
  
    .docs-toc-top {
      position: static;
    }
}
  
// // // END modify _global.scss END // // //

.event-date {
    font-style: italic;
    font-size: xx-large;
}

.news-card-homepage {
    border: solid black 1px;
    border-radius: 45px;
    padding-bottom: 25px;

}