// Put your custom SCSS code here

// .default-page-title{
//     text-align: right;
// }

@include color-mode(dark) {
    .dropdown-menu {
        background-color: $body-bg-dark;
    }
}
.dropdown-languages {
    width: 80px;
}


.dropdown-languages .btn .dropdown-caret {
    // color: $body-color-dark;
    font-weight: 500;
    min-height: 0;
    position: relative;
    top: -3px;
}

.dropdown-languages .btn .dropdown-caret:hover {
    // color: $body-color-dark;
    font-weight: 500;
    color: $link-color;
}

@include color-mode(dark) {
    .dropdown-languages .btn .dropdown-caret:hover {
        // background-color: $body-bg-dark;
        color: $link-color-dark
    }

    .navbar {
        border-bottom: 1px solid $white;
      }
}

.dropdown-languages .dropdown-menu {
    min-width: 80px;
    // min-height: 0;
    // padding-top: 0;
    // padding-bottom: 0;
    border: 0;
    // background-color: $body-bg-dark;
    // background-color: $body-bg;
    margin-top: -5;
//     position: relative;
//     top: -5px;
}


.dropdown-languages .dropdown-menu .dropdown-item {
    // color: $body-color-dark;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}    

// .dropdown-languages .dropdown-menu .dropdown-item:hover {
//     background-color: transparent;
// }

// .dropdown-menu-dark {
//     background-color: $body-bg-dark;
// }

.nav-logo {
    height: 55px;
    // position: relative;
    // top: -3px;
    content: url('/images/diamond-new-light.png');
}

@include color-mode(dark) {
    .nav-logo {
        content: url('/images/diamond-new-dark.png');
    }
}

.current-language-display {
    display: inline-block;
    width: 20px;
}

// .dropdown-toggle-split {
// } 
// 

.nav-item.dropdown {
    margin-right: -11px;    
}

.nav-link {
    font-weight: 500;
}

.about-lead {
    font-weight: 500;
}


.navbar {
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid $black;

  /*
  margin-top: 4px;
  */
}

@include media-breakpoint-up(lg) {
    .diamond-docs-sidebar-container{
        border-right: 1px dashed $black;
    }

    .docs-sidebar {
      order: 0;
    //   border-right: 1px solid $black;
      
    }
    .footer {
        border-top: 1px solid $black;
    }
    @include color-mode(dark) {
        .diamond-docs-sidebar-container {
            border-right: 1px dashed $white;
        }
        .footer {
            border-top: 1px solid $white;
        }
    }
}

h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    visibility: hidden;
}

u {
    text-underline-offset: 6px;
}

.icon-lammps {
    background-image: url('/images/lammps-icon.svg');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 0px;
    position: relative;
    top: 3px; left: 0px;
  }
  
.icon-ovito {
    background-image: url('/images/ovito-icon.png');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 0px;
    position: relative;
    top: 4px; left: 0px;
}

.icon-quantum-espresso {
    background-image: url('/images/quantum-espresso-icon-light.png');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 0px;
    position: relative;
    top: 3px; left: 0px;
}

.icon-paraview {
    background-image: url('/images/paraview-icon.png');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 0px;
    position: relative;
    top: 3px; left: 0px;
}

@include color-mode(dark) {
    .icon-quantum-espresso {
    background-image: url('/images/quantum-espresso-icon-dark.png');
    }
}

.content .svg-inline {
    margin-bottom: 0.5rem;
}

.logo-ovito {
    content: url('/images/ovito-logo-light.png');
}


@include color-mode(dark) {
    .logo-ovito {
        content: url('/images/ovito-logo-dark.png');
    }   
}


.logo-apptainer {
    content: url('/images/apptainer-logo.svg');
}


@include color-mode(dark) {
    .logo-apptainer {
        content: url('/images/apptainer-logo-dark.svg');
    }   
}

.logo-diamond {
    content: url('/images/logo-diamond-new-light.png');
}


@include color-mode(dark) {
    .logo-diamond {
        content: url('/images/logo-diamond-new-dark.png');
    }   
}

.logo-quantum-espresso {
    content: url('/images/quantum-espresso-logo-light.png');
}

@include color-mode(dark) {
    .logo-quantum-espresso {
        content: url('/images/quantum-espresso-logo-dark.png');
    }
        
}

.logo-paraview {
    content: url('/images/paraview-logo-light.svg');
}

@include color-mode(dark) {
    .logo-paraview {
        content: url('/images/paraview-logo-dark.svg');
    }
        
}


.logo-guix {
    content: url('/images/guix-logo-light.svg');
}

@include color-mode(dark) {
    .logo-guix {
        content: url('/images/guix-logo-dark.svg');
    }
}




.logo-france2030 {
    content: url('/images/france-2030-couleurs.png');
    height: 90px;
    margin-right: 20px;
}

@include color-mode(dark) {
    .logo-france2030 {
        content: url('/images/france-2030-blanc.png');
    }
}

@include media-breakpoint-down(xl) {
    .logo-france2030 {
        height : 60px;
    }

    // .nav-item {
    //     font-size: $font-size-base;


    // }
}


.col-default-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-landing-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer{
    margin-top: auto;
}

// .section-features {
//     margin-top: auto;
// }

// .docs-links h3,
// .page-links h3 {
//   text-transform: uppercase;
//   font-size: $font-size-base;
//   margin: 1.25rem 0 0.5rem;
//   padding: 1.5rem 0 0;
// }

// @include media-breakpoint-up(lg) {
//   .docs-links h3,
//   .page-links h3 {
//     margin: 1.125rem 1.5rem 0.75rem 0;
//     padding: 1.375rem 0 0;
//   }
// }

.diamond-docs-sidebar-container {
    width: 331px;
}

.docs-sidebar {
    width: 307px;
}



.section-title-lead-landing-page {
    min-width: 100%;
    background-image: url(/images/c-diamond-light.png);
    background-size: 85% auto;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}

.container-h1-default-page {
    min-width: 100%;
    min-height: 170px;
    background-image: url(/images/c-diamond-light.png);
    background-size: 85% auto;
    background-repeat: no-repeat;
    background-position: top;

}

@include color-mode(dark) {
    .section-title-lead-landing-page,
    .container-h1-default-page {
        background-image: url(/images/c-diamond-dark.png);
    }
}


.text-x-large {
    font-size: x-large;
}

.text-like-home-h1 {
    font-size: calc(1.375rem + 1.5vw); 
    // font-size: calc(1.875rem + 1.5vw);
    // margin-top: -1rem;
}

.lead {
    font-weight: 500;
}

// iframe {
//     margin-bottom: 20px;
// }

.header-dropdown-text.active {
    color: $link-color;
}

@include color-mode(dark) {
    .header-dropdown-text.active {
        color: $link-color-dark;
    }   
}

// @include media-breakpoint-down(md) {

//     .navbar .offcanvas.offcanvas-start,
//     .navbar .offcanvas.offcanvas-end {
//       width: 80vw;
//     }
//   }

@include media-breakpoint-down(xl) {
    .navbar-brand {
        font-size: $font-size-md;
    }

    .nav-item {
        font-size: $font-size-base;
    }
}

@include color-mode(dark){
    .navbar,
    .doks-subnavbar {
        background-color: rgba(44, 44, 44, 0.95);
    }
}

#totopbutton {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
#totopbutton.fade {
    opacity: 1;
}


// @supports ((position:-webkit-sticky) or (position:sticky)) {
//     .docs-toc {
//       position: -webkit-sticky;
//       position: sticky;
//       top: 4.25rem;
//       height: calc(100vh - 4.25rem);
//       overflow-y: auto;
//     }
  
//     .docs-toc-offset {
//       top: 4.5rem;
//       height: calc(100vh - 4.5rem);
//     }
  
//     .docs-toc-top {
//       position: relative;
//     }
// }


.docs-sidebar {
    border-right: none;
}

@include color-mode(dark) {
    .docs-sidebar {
        border-right: none;
    }
}